[submodule "safeboot"]
	path = ext-safeboot
	url = ../safeboot.git
	branch = master
[submodule "ext-tpmware/tpm2-tss"]
	path = ext-tpmware/tpm2-tss
	url = https://github.com/tpm2-software/tpm2-tss.git
	branch = master
[submodule "ext-tpmware/tpm2-tools"]
	path = ext-tpmware/tpm2-tools
	url = https://github.com/tpm2-software/tpm2-tools.git
	branch = master
[submodule "ext-tpmware/libtpms"]
	path = ext-tpmware/libtpms
	url = https://github.com/stefanberger/libtpms.git
	branch = master
[submodule "ext-tpmware/swtpm"]
	path = ext-tpmware/swtpm
	url = https://github.com/stefanberger/swtpm.git
	branch = master
[submodule "ext-heimdal"]
	path = ext-heimdal
	url = https://github.com/heimdal/heimdal.git
	branch = master
[submodule "ext-vde/vdeplug4"]
	path = ext-vde/vdeplug4
	url = https://github.com/rd235/vdeplug4
[submodule "ext-vde/s2argv-execs"]
	path = ext-vde/s2argv-execs
	url = https://github.com/virtualsquare/s2argv-execs
[submodule "ext-vde/vdeplug_slirp"]
	path = ext-vde/vdeplug_slirp
	url = https://github.com/virtualsquare/vdeplug_slirp
[submodule "ext-vde/libvdeslirp"]
	path = ext-vde/libvdeslirp
	url = https://github.com/virtualsquare/libvdeslirp
[submodule "ext-vde/libslirp"]
	path = ext-vde/libslirp
	url = https://gitlab.freedesktop.org/slirp/libslirp
[submodule "ext-vde/vde-2"]
	path = ext-vde/vde-2
	url = https://github.com/virtualsquare/vde-2
