Source: hcp-enrollsvc
Maintainer: Geoffrey Thorpe <geoffrey@twosigma.com>
Section: misc
Priority: optional
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 13)

Package: hcp-enrollsvc
Architecture: all
Depends: ${misc:Depends}, python3, git, hcp-common, hcp-xtra
Description: HCP enrollsvc
 hcp-enrollsvc contains code for the Enrollment Service management (emgmt)
 and replication (erepl) services.
