Source: hcp-attestsvc
Maintainer: Geoffrey Thorpe <geoffrey@twosigma.com>
Section: misc
Priority: optional
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 13)

Package: hcp-attestsvc
Architecture: all
Depends: ${misc:Depends}, python3, git, hcp-common, hcp-xtra
Description: HCP attestsvc
 hcp-attestsvc contains code for the Attestation Service replication (arepl)
 and host-attestation (ahcp) services.
