ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
PidFile /var/run/sshd.pid
TCPKeepAlive yes
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
GSSAPIKeyExchange yes
GSSAPIStoreCredentialsOnRekey yes
GSSAPIStrictAcceptorCheck no
PasswordAuthentication no

