Source: hcp-kdcsvc
Maintainer: Geoffrey Thorpe <geoffrey@twosigma.com>
Section: misc
Priority: optional
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 13)

Package: hcp-kdcsvc
Architecture: all
# TODO: see src/hcp/Makefile for explanation
#Depends: ${misc:Depends}, python3, tpm2-tools, tpm2-tss, hcp-common, hcp-xtra, hcp-tools
Depends: ${misc:Depends}, python3, hcp-common, hcp-xtra, hcp-tools
Description: HCP kdcsvc
 hcp-kdcsvc contains code for the KDC (Kerberos Domain Controller) Service.
