[Unit]
Description=HCP workload launcher
After=network.target

[Service]
Type=notify
ExecStart=/qemu_init.py
NotifyAccess=all

[Install]
WantedBy=multi-user.target
