Source: hcp-sshsvc
Maintainer: Geoffrey Thorpe <geoffrey@twosigma.com>
Section: misc
Priority: optional
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 13)

Package: hcp-sshsvc
Architecture: all
# TODO: see src/hcp/Makefile for explanation
#Depends: ${misc:Depends}, python3, tpm2-tools, tpm2-tss, hcp-common, hcp-xtra, hcp-tools
Depends: ${misc:Depends}, python3, hcp-common, hcp-xtra, hcp-tools
Description: HCP sshsvc
 hcp-sshsvc contains code for the SSH (Secure SHell) Service.
